<!DOCTYPE html>
<html>
<head>
    <title>Calculadora de Meta Financeira</title>
</head>
<div><body>
    <h1>Calculadora de Meta Financeira</h1>
   
    <form action="/calcular" method="POST">
        <label for="meta_financeira">Meta Financeira (R$):</label>
        <input type="number" id="meta_financeira" name="meta_financeira" required><br><br>

        <label for="economia_mensal">Economia Mensal (R$):</label>
        <input type="number" id="economia_mensal" name="economia_mensal" required><br><br>

        <input type="submit" value="Calcular">
    </form>
</body></div>
</html>
